#friends-display-link {
  background-color: #fafafa;
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  margin-left: 8px;
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.find-recommended-friends {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 65px;
  margin-bottom: 100px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: #ffec00;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
