.user-component{
 justify-content: space-between;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 65px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-component__title{
  font-size:22px;
  font-weight: 600;
}

.user-component__subtitle{
  margin-top:8px;
  font-size: 17px;
  color:rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl{
  width: 80px;
  height: 75px;
}

.friends-screen{
  padding:0px 25px;
}

.user-component__avatar--sm{
  width: 60;
  height: 55;
  border-radius: 25px;
}

.user-component__title--not-bold{
  font-weight: 400;
}

.user-component__column:last-child{
  color:rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child i{
  margin-left: 5px;
}

.user-component__time{
  margin-top:-30px;
  display:block;
  margin-right:-30px;
}